@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"),
    url("../fonts/BebasNeueBold.woff") format("woff"),
    url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bedstead";
  src: url("../fonts/Bedstead.woff2") format("woff2"),
    url("../fonts/Bedstead.woff") format("woff"),
    url("../fonts/Bedstead.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
